.button {
  text-align: center;
  color: #f1d60e;
  background: var(--black);
  display: inline;
  border: #f1d60e 1px solid;
  border-radius: 10px;
  background: linear-gradient(to left, var(--black) 50%, #f1d60e 50%) right;
  background-size: 200%;
  transition: 0.5s ease-out;
}
.button:hover {
  background-position: left;
  color: black;
}
