@keyframes slide {
  from {
    tranform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.reviews-slide {
  animation: 5s slide infinite linear;
}

.reviews:before,
.reviews:after {
  position: absolute;
  top: 0;
  width: 10%;
  height: 100%;
  content: "";
  z-index: 2;
}

.reviews:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(2, 6, 23));
}

.reviews:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(2, 6, 23));
}

.reviews:hover .reviews-slide {
  animation-play-state: paused;
}
