@use "global";
@use "styles";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: var(--background);
}

:root {
  //DARK MODE
  --background: #1d1a1a;
  --gold: #f1d60e;
  --navyblue: #334155;
  --white: #fff;
  --black: #000;
  --nav: #323232;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #919191;
    --gold: #ffe100;
    --navyblue: #eafcf8e9;
    --white: #000;
    --black: #444;
    --nav: #646363;
  }
}
