@use "global";
@use "styles";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  //DARK MODE
  --gold: #f1d60e;
  --navyblue: #334155;
  --white: #ffffff;
  --black: #000000;
  --nav: #323232;
}

@media (prefers-color-scheme: light) {
  :root {
    --gold: #ffe100;
    --navyblue: #334155;
    --white: #000;
    --black: #fffff0;
    --nav: #7d7b7b;
  }
}
